# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/Pods/
ios/build/
android/build/
android/app/build/
android/.gradle/
android/local.properties

# Credentials & secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist

# EAS
.easignore

# Misc
*.orig.*
.DS_Store
*.log
.env
.env.local
